<!DOCTYPE html>
<html>
<!--
  Author: Matthieu Petiteau <mpetiteau.pro@gmail.com>
  Source code: https://github.com/semantic-agency/secret

  Please feel free to contribute to the project!
-->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="passwords,secrets,password,secret,encrypt,secret sharing,password sharing,security,privacy,secret"
    />
    <meta
      name="description"
      content="Secret encrypt your secrets and generate a unique password protected link so you can share them securely in an email. The secrets will also be automatically deleted after an expiration date. No more passwords or sensitive data sent in plain text over emails!"
    />
    <title>Secret - Safely share your secrets and passwords.</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/lock.png') }}" />
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body>
    <section class="py-12 bg-white">
      <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center">
          <a href="/">
            <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-indigo-500 sm:text-5xl sm:leading-none md:text-6xl">🔐 Secret</h2>
          </a>
          <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
            A better way to send and receive secrets
          </h3>
          <p class="mt-4 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto">
              No more passwords or sensitive data sent in plain text over emails! Send it with a secure link,
              protected by a passphrase.
          </p>
        </div>
    
        <div class="mt-10 py-5">
            <div class="mx-auto w-auto md:w-2/3">

                {% block container %}{% endblock %}
    
                <hr />
                <div class="has-text-right">
                  <p class="mt-8 text-base leading-6 text-gray-500 has-text-justified">
                    Your secrets are stored using advanced encryption and are only available for a limited amount
                    of time. Secret doesn't store your passphrases. They are only used to encrypt your secrets.
                    Encryption method used: Fernet with password, random salt value and strong iteration count
                    (100 000).
                  </p>
                </div>
              </div>
        </div>
      </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script>
      feather.replace();
    </script>

    {% block js %}{% endblock %}

  </body>
</html>
