{% extends 'base.html' %}

{% block container %}

<div class="field has-addons">
  <div class="control is-expanded">
    <input class="input block w-full px-4 py-3 text-base leading-6 appearance-none border border-gray-300 shadow-none bg-white rounded-md placeholder-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300" type="text" id="link" value="{{ link }}" readonly />
  </div>
  <div class="control">
    <button id="copy" class="button text-base text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out flex items-center justify-center px-5 py-3 border border-transparent">copy</button>
  </div>
</div>
<p class="info">
  Send this link along with the passphrase to your recipient. this link will expire on
  <b>{{ expires_on }}.</b> also note that as soon as someone decrypt the message,
  <b>it will be deleted forever 🔥</b>
</p>

{% endblock %}

{% block js %}

<script src="{{ url_for('static', filename='js/created.js') }}"></script>

{% endblock %}
