{% extends 'base.html' %}

{% block container %}

<h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
  Decrypt your secret
</h2>
<div class="mt-6 field has-addons">
  <p class="control is-expanded">
    <input
      class="input block w-full px-4 py-3 text-base leading-6 appearance-none border border-gray-300 shadow-none bg-white rounded-md placeholder-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300"
      name="passPhrase"
      id="passPhrase"
      type="text"
      placeholder="Passphrase"
      autocomplete="off"
      required
    />
  </p>

  <p class="control">
    <button type="submit" class="button text-base text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out flex items-center justify-center px-5 py-3 border border-transparent" id="decryptBtn">Decrypt</button>
  </p>
</div>
<p class="mt-3 text-sm leading-5 text-gray-900 text-left">
  As soon as the message is decrypted, <b>it will be deleted forever 🔥</b>, so make sure to save it in a
  <b>secure</b> place before leaving this page if needed.
</p>
<br />
<div id="response"><p id="msg"></p></div>
<input id="slugId" type="hidden" value="{{ slug }}" />

{% endblock %}

{% block js %}

<script src="{{ url_for('static', filename='js/read.js') }}"></script>

{% endblock %}
